@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), local('HelveticaNeue'),
  url('fonts/HelveticaNeueMed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'HelveticaNeue';
  background-color: #27b1b3;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in;
  z-index: 99;

  .container {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    .menu-top {
      margin: 0 25px;

      ul.social {
        margin: 0;
        display: flex;
        justify-content: end;

        li {
          a {
            background-color: #27b1b3;
            margin-left: 10px;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 7px;
            color: #fff;
            font-size: 13px;
          }
          &.language{
            a{
              background-color: transparent;
              border: 1px solid #27b1b3;
              select{
                color: #27b1b3;
              }
            }
          }
          &.search{
            a{
              background-color: transparent;
              color: #27b1b3;
            }
          }
        }

        select {
          color: #fff;
          background: transparent;
          border: none;

          option {
            background-color: #27b1b3;
          }

          &:focus {
            border: none;
            outline: none !important;
          }
        }
      }
    }

    .menu-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 25px;

      .logo {
        width: 245px;
      }

      .menu-bar {
        li:last-child {
          a {
            padding-right: 0;
          }
        }
      }

      .menu-bar, .side-bar {
        display: flex;
        margin: 0;
        width: fit-content;

        a {
          display: inline-block;
          padding: 10px 25px 0;
          font-size: 22px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000;

          &.active {
            color: #27b1b3;
          }
        }
      }
        .side-bar{
            width: 50%;
            a{
                color: #fff;
                &.active{
                    color: #ec6625;
                }
            }
        }

      .menu-button {
        width: fit-content;
        display: none;

        .line-1, .line-2, .line-3 {
          height: 3px;
          width: 30px;
          background-color: #27b1b3;
          cursor: pointer;
          border-radius: 30px;
          margin: 7px 0;
          transition: 0.5s ease-in;
        }

        &.close {
          .line-2 {
            opacity: 0;
          }

          .line-1 {
            transform: rotate(-45deg) translate(-10px, 3px);
          }

          .line-3 {
            transform: rotate(45deg) translate(-10px, -3px);
          }
        }

      }
    }

    .side-bar {
        position: fixed;
        width: 50%;
        padding: 25px 0 0 0;
        top: 120px;
        right: 0;
        height: 100vh;
        background-color: #27b1b3;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        opacity: 0;

      li {
        padding-top: 35px;
        opacity: 0;
      }
    }
  }
}

section.intro {
  background-color: #27b1b3;
  padding-top: 102px;
  height: 544.5px;

  .introSwiper {
    .swiper-slide {
      display: flex;
      justify-content: center;

      img {
        max-height: 100%;
        object-fit: cover;
      }
    }

    .swiper-button-prev:after, .swiper-button-next:after {
      color: #fff;
      font-size: 35px;
    }

    .swiper-pagination {
      bottom: -2px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      width: 22px;
      height: 22px;
    }

    .swiper-pagination-bullet {
      background: transparent;
      border: 2px solid #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #ec6625;
      border: 0;
    }
  }

}

section.about {
  padding-top: 66px;
  background-color: #27b1b3;

  .container-fluid {
    .row {
      .back {
        background-color: #43b6b8;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }

      .about-text {
        padding: 71px 125px 28px 85px;

        h1 {
          font-size: 34px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #fff;
          margin-bottom: 18px;
        }

        p {
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #fff;
          margin-bottom: 100px;
        }

        a {
          color: #fff;
          font-size: 15px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.53;
          letter-spacing: normal;

          i {
            font-size: 13px;
          }
        }
      }

      img {
        margin-left: 12px;
        height: 100%;
        object-fit: cover;
      }

    }
  }

}

section.products {
  padding: 200px 0;
  //background-image: url("image/back.png");
  margin-top: -51px;

  .title {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.76;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 51px;
  }

  .item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image {
      background-color: #fff;
      height: 330px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 2px #e86731;
      border-radius: 20px;
      margin-bottom: 10px;

      img {
        max-height: 100%;
      }
    }

    h2 {
      font-size: 21px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.24;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }

    a {
      display: inline-block;
      padding: 10px 16px;
      background-color: #fff;
      border-radius: 6px;
      font-size: 19px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: normal;
      color: #21949c;
    }
  }

  .productSwiper {
    position: initial;

    .swiper-slide {
      display: flex;

      &.swiper-slide-next .image {
        height: 430px;
      }
    }

    .swiper-pagination {
      bottom: -50px
    }

    .swiper-pagination-bullet {
      background: #d3d3d3;
      width: 16px;
      height: 16px;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: #ec6625;
      }
    }

    .swiper-button-next:after, .swiper-button-prev:after {
      color: #fff;
      font-size: 35px;
    }

    .swiper-button-next {
      right: -100px;
    }

    .swiper-button-prev {
      left: -100px;
    }

  }

}

section.markalarimiz {
  .title {
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: -48px;
  }

  .marka {
    background-color: #efefef;
    padding: 37px 0;
    background-image: url("image/markalarimiz.png");
    background-repeat: no-repeat;

    .white-area {
      background-color: #fff;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 37px 30px;

      .item p.brand-contents {
        padding: 13.7px 25.5px 18.2px 25.9px;
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.16);
        border: solid 3px #fff;
        background-color: #efefef;
        border-radius: 20px;
        margin-bottom: 0;
        margin-top: 17px;
      }
    }
  }
}

section.catalog {
  padding: 120px 0 84px 0;
  background-color: #27b1b3;

  .back {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 425px;

    h2 {
      font-size: 34px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0.17;
      z-index: 0;
      border-radius: 20px;
      background-image: linear-gradient(91deg, #fff -2%, rgba(123, 123, 123, 0.97) 159%);
    }

    .front {
      position: relative;
      z-index: 1;

      .shape {
        position: relative;
      }

      .right-side {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        flex-direction: column;

        .margin {
          margin-top: -90px;

          p {
            text-align: right;
          }

          .button-cover {
            text-align: right;

            a:nth-child(1) {
              display: inline-block;
              padding: 8px 22px;
              background-color: #ec6625;
              border-radius: 6px;
              color: #fff;
            }

            a:nth-child(2) {
              display: inline-block;
              padding: 8px 22px;
              background-color: #d9d9d9;
              border-radius: 6px;
              color: #000;
              margin-left: 32px;
            }
          }
        }
      }
    }
  }
}

section.footer {
  background-color: #27b1b3;

  .container.top {
    background-color: #efefef;
    padding: 0px 80px 30px 105px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    .logo {
      width: 298px;
      height: 93px;
      background-color: #fff;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu {
      margin-top: 36px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: normal;
        color: #ec6625;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: #000;

          .navigate {
            margin-top: -3px;
            margin-left: 12px;
          }

          a {
            color: #000;

            &:hover {
              color: #27b1b3;
            }
          }
        }

        li.active {
          color: #27b1b3;
        }

        &.social {
          li:nth-child(1) {
            margin-bottom: 19px;
          }

          li:nth-child(2) {
            margin-bottom: 19px;
          }
        }
      }
    }

  }
  .bottom {
    background-color: #efefef;
    padding: 0px 60px 0px 60px;
    p{
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.77;
      letter-spacing: normal;
      color: #000;
      a{
        color: #000;

      }
    }
  }
}

/*about*/
section.breadcrumb{
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  .container{
    margin-top: 185px;
    color: #fff;
    .bread{
      font-size: 21px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: normal;
      color: #fff;
      i{
        font-size: 16px;
      }
    }
    .crumb{
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.58;
      letter-spacing: normal;
      color: #fff;
      margin-top: 12px;
    }
  }
}

section.vision{
  background-color: #27b1b3;
  color: #fff;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 100px;
  .col-md-8{
    margin-bottom: 280px;
  }
  .text-cover{
    margin-top: 10px;
    h1{
      font-size: 34px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      &.extra{
        margin-left: 15px;
        margin-top: 10px;
      }
    }
    p{
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      margin-bottom: 50px;
    }
  }

}

/*contact*/
section.contact{
  background-color: #27b1b3;
  padding: 40px 0 77px 0;
  color: #fff;
  .contact-title{
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 32px;
    margin-left: 15px;
  }
  input{
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d5d5d5;
    background-color: #fff;
    border-radius: 0;
    height: 52px;
    &:focus{
      box-shadow: none;
    }
  }
  textarea{
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d5d5d5;
    background-color: #fff;
    border-radius: 0;
    &:focus{
      box-shadow: none;
    }
  }
  button{
    padding: 7px 34px 8px 35px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    color: #27b1b3;
  }
  .information{
    padding-top: 57px;
    p{
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      color: #fff;
      padding-left: 15px;
    }
    h3{
      margin-bottom: 12px;
      font-size: 23px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #fff;
    }
  }

  iframe{
    width: 100%;
  }
}

/*blog*/
section.blog{
  background-color: #27b1b3;
  padding: 45px 0 170px 0;
  .page-title{
    .small-title{
      margin-bottom: 3px;
      font-size: 28px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      text-decoration: underline;
    }
    .title{
      margin-bottom: 40px;
      font-size: 34px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }
  }

  .item{
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    .date{
      position: absolute;
      top: 0;
      right: 25px;
      padding: 11px 17px;
      background-color: #ec6625;
      color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      .number{
        font-size: 41px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.71;
        letter-spacing: -1.15px;
        color: #fff;
      }
      .name{
        font-size: 23px;
        font-weight: 100;
        letter-spacing: normal;
      }
    }
    img{
      height: 173px;
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .item-text{
      padding: 20px 20px 30px;
      .comment{
        i{
          color: #27b1b3;
        }
        span{
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.57;
          letter-spacing: normal;
          color: #525252;
        }
      }
      h3{
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        color: #000;
        margin-top: 10px;
        }
      p{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #000;
      }
      a{
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        color: #008b97;
        i{
          font-size: 12px;
        }
      }
    }
  }
}

/*blog detail*/
section.blog-detail{
  background-color: #27b1b3;
  padding: 50px 0 100px;
  .item{
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    img{
      width: 100%;
    }
    .text{
      padding: 40px 20px 20px;
      margin-top: -5px;
      h1{
        font-size: 34px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: normal;
        color: #000;
      }
      p{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #000;
      }
    }
  }
  .last-titles{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .title{
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      position: relative;
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 2px;
        width: 122px;
        background-color: #000;
      }
    }
    .post{
      display: flex;
      align-items: center;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
      }
      span{
        margin-left: 15px;
      }
    }

    &.category{
      padding-right: 40px;
      span{
        float: right;
      }
    }
  }
}

/*products*/
section.products-page{
  padding: 35px 0 130px 0;
  background-color: #27b1b3;
  .nav-tabs{
    border: none !important;
    display: flex;
    justify-content: space-between;
    .nav-item{
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
      .nav-link{
        &.active{
          background-color: #e86731;
        }
        border-radius: 10px;
        border: solid 2px #e86731;
        background-color: #fff;
        padding: 19px 30px;
        img{
          width: 100px;
          height: 90px;
          object-fit: cover;
        }
      }
    }
  }
  .tab-content{
    .left-menu{
      padding: 21px;
      border-radius: 10px;
      box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #fff;
      h3{
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #008b97;
        span{
          font-weight: 500;
        }
      }
      .nav-link{
        background-color: #fff;
        color: #000;
        &.active{
          text-decoration: underline;
        }

        .sub-menu{
          display: flex;
          align-items: center;
          justify-content: space-between;

          i{
            color: #ec6625;
          }
        }
      }
    }

    .tab-content{
      .d-flex{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .item{
          width: 290px;
          height: 266px;
          padding: 21px 32.6px 52px 34px;
          border-radius: 10px;
          box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
          border: solid 2px #e86731;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p{
          font-size: 21px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.24;
          letter-spacing: normal;
          text-align: center;
          color: #fff;
          margin-top: 9px;
        }
        a{
          display: inline-block;
          padding: 8px 10px 7px 11px;
          border-radius: 6px;
          background-color: #fff;
          font-size: 19px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.37;
          letter-spacing: normal;
          text-align: center;
          color: #21949c;
          &:hover{
            color: #fff;
            background-color: #ec6625;
          }
        }
      }
    }
  }
}

/*products-detail*/
section.products-page-detail{
  padding: 60px 0;
  background-color: #27b1b3;
  .features{
    margin-right: 55px;
    padding: 25px 23px 30px 23px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5f5f5;
    .feature-title{
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      color: #000;
    }
    .features-item{
      display: flex;
      align-items: center;
      img{
        width: 39px;
      }
      .features-text{
        margin-left: 15px;
        .text-one{
          margin-bottom: -7px;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.86;
          letter-spacing: normal;
          color: #ec6625;
        }
        .text-two{
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.63;
          letter-spacing: normal;
          color: #000;
        }
      }
    }
    a{
      padding: 8px 20px 7px;
      border-radius: 6px;
      background-color: #27b1b3;
      width: auto;
      font-size: 19px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: normal;
      color: #fff;
    }
  }

  .productDetailSwiper{
    position: initial;
    .swiper-slide{
      .item{
        margin: 0 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 10px;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 2px #e86731;
        background-color: #fff;
      }
    }
    .swiper-button-next:after, .swiper-button-prev:after{
      font-size: 30px;
      color: #fff;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
      bottom: -30px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
      width: 17px;
      height: 17px;
      opacity: 1;
      background-color: transparent;
      border: 2px solid #fff;
      &.swiper-pagination-bullet-active{
        border: none;
        background-color: #ec6625;
      }
    }
  }
}

section.similar-products{
  background-color: #27b1b3;
  padding-bottom: 120px;
  h3{
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-left: 55px;
    margin-bottom: 17px;
  }
    .productSimilar{
        margin: 0 55px;
        .productSimilarSwiper{
            position: initial;
            .swiper-button-prev:after , .swiper-button-next:after{
                font-size: 30px;
                color: #fff;
            }
            .swiper-button-prev{
                top: 115px;
                left: -25px;
            }
            .swiper-button-next{
                top: 115px;
                right: -25px;
            }
            .item{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                .item-img{
                    width: 100%;
                    height: 219px;
                    border-radius: 10px;
                    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
                    border: solid 2px #e86731;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-height: 100%;
                    }
                }
                p{
                    margin: 10px 0;
                    font-size: 21px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.24;
                    letter-spacing: normal;
                    text-align: center;
                    color: #fff;
                }
                a{
                    padding: 8px 10px 7px 11px;
                    border-radius: 6px;
                    background-color: #fff;
                    font-size: 19px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.37;
                    letter-spacing: normal;
                    text-align: center;
                    color: #21949c;
                }
            }
        }
    }

}
.e-catalog{
  position: fixed;
  top: 50%;
  right: -112px;
  transform: rotate(270deg);
  z-index: 99;
  div{
    padding: 8px 26px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    a{
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.28;
      letter-spacing: normal;
      text-align: left;
      color: #27b1b3;
    }
  }
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1399px) {
  section.products .item .image {
    height: 270px;
  }
  section.products .productSwiper .swiper-slide.swiper-slide-next .image {
    height: 320px;
  }
  section.products {
    .productSwiper {
      .swiper-button-next {
        right: -50px;
      }

      .swiper-button-prev {
        left: -50px;
      }
    }
  }

}


@media screen and (max-width: 992px) {
  nav {
    .container {
      .menu-top {
        margin: 0 0 15px 0;
        ul{
          padding: 0;
          justify-content: center;
          li:nth-child(1) a{
            margin-left: 0;
          }
        }
      }

      .menu-bottom {
        .menu-button {
          display: block;
        }

        .menu-bar {
          display: none;
        }
      }
    }
  }

  nav .side-bar.active {
    transform: translateX(0);
    opacity: 1;
  }

  section.products-page-detail .features{
    margin-left: 55px;
  }
}

@media screen and (max-width: 768px) {
  section.about .container-fluid .row .about-text{
    padding: 71px 30px 28px 30px;
  }
  section.products .productSwiper .swiper-slide{
    justify-content: center;
  }
  section.vision{
    background-image: none !important;
    .col-md-8{
      margin-bottom: 120px;
    }
  }
}

@media screen and (max-width: 576px) {
  section.similar-products .productSimilarSwiper{
    .swiper-button-prev{
      left: 10px;
    }
    .swiper-button-next{
      right: 10px;
    }
  }
  section.products-page-detail .features{
    margin: 0;
  }
  section.products .productSwiper{
    .swiper-button-next{
      right: 15px;
    }
    .swiper-button-prev{
      left: 15px;
    }
  }

  section.markalarimiz .marka .white-area{
    margin: 0 auto;
    border-radius: 20px;
  }

  section.catalog .back .front .right-side{
    margin-top: 120px;
  }
    section.similar-products .productSimilar .productSimilarSwiper{
        .swiper-button-next{
            right: 20px;
        }
        .swiper-button-prev{
            left: 20px;
        }
    }
}



