@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");
@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"), local("HelveticaNeue"), url("fonts/HelveticaNeueMed.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "HelveticaNeue";
    background-color: #27b1b3;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease-in;
    z-index: 99;
}
nav .container {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
nav .container .menu-top {
    margin: 0 25px;
}
nav .container .menu-top ul.social {
    margin: 0;
    display: flex;
    justify-content: end;
}
nav .container .menu-top ul.social li a {
    background-color: #27b1b3;
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    color: #fff;
    font-size: 13px;
}
nav .container .menu-top ul.social li.language a {
    background-color: transparent;
    border: 1px solid #27b1b3;
    color: #27b1b3;
}
nav .container .menu-top ul.social li.language .dropdown-menu {
    min-width: auto !important;
}
nav .container .menu-top ul.social li.language .dropdown-menu a {
    margin-right: 10px;
    border: none;
}
nav .container .menu-top ul.social li.language a select {
    color: #27b1b3;
}
nav .container .menu-top ul.social li.search a {
    background-color: transparent;
    color: #27b1b3;
}
nav .container .menu-top ul.social select {
    color: #fff;
    background: transparent;
    border: none;
}
nav .container .menu-top ul.social select option {
    background-color: #27b1b3;
}
nav .container .menu-top ul.social select:focus {
    border: none;
    outline: none !important;
}
nav .container .menu-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
}
nav .container .menu-bottom .logo {
    width: 245px;
}
nav .container .menu-bottom .menu-bar li:last-child a {
    padding-right: 0;
}
nav .container .menu-bottom .menu-bar, nav .container .menu-bottom .side-bar {
    display: flex;
    margin: 0;
    width: fit-content;
}
nav .container .menu-bottom .dropdown:hover .dropdown-menu  {
    display: block;
}
nav .container .menu-bottom .menu-bar a, nav .container .menu-bottom .side-bar a {
    display: inline-block;
    padding: 10px 25px 0;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}
nav .container .menu-bottom .menu-bar a.active, nav .container .menu-bottom .side-bar a.active {
    color: #27b1b3;
}
nav .container .menu-bottom .side-bar {
    width: 50%;
}
nav .container .menu-bottom .side-bar a {
    color: #fff;
}
nav .container .menu-bottom .side-bar a.active {
    color: #ec6625;
}
nav .container .menu-bottom .menu-button {
    width: fit-content;
    display: none;
}
nav .container .menu-bottom .menu-button .line-1, nav .container .menu-bottom .menu-button .line-2, nav .container .menu-bottom .menu-button .line-3 {
    height: 3px;
    width: 30px;
    background-color: #27b1b3;
    cursor: pointer;
    border-radius: 30px;
    margin: 7px 0;
    transition: 0.5s ease-in;
}
nav .container .menu-bottom .menu-button.close .line-2 {
    opacity: 0;
}
nav .container .menu-bottom .menu-button.close .line-1 {
    transform: rotate(-45deg) translate(-10px, 3px);
}
nav .container .menu-bottom .menu-button.close .line-3 {
    transform: rotate(45deg) translate(-10px, -3px);
}
nav .container .side-bar {
    position: fixed;
    width: 50%;
    padding: 25px 0 0 0;
    top: 120px;
    right: 0;
    height: 100vh;
    background-color: #27b1b3;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    opacity: 0;
}
nav .container .side-bar li {
    padding-top: 35px;
    opacity: 0;
}

section.intro {
    background-color: #27b1b3;
    padding-top: 102px;
    height: 655px;
}
section.intro .introSwiper .swiper-slide {
    display: flex;
    justify-content: center;
}
section.intro .introSwiper .swiper-slide img {
    max-height: 100%;
    object-fit: cover;
}
section.intro .introSwiper .swiper-button-prev:after, section.intro .introSwiper .swiper-button-next:after {
    color: #fff;
    font-size: 35px;
}
section.intro .introSwiper .swiper-pagination {
    bottom: -2px;
}
section.intro .introSwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, section.intro .introSwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
}
section.intro .introSwiper .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
}
section.intro .introSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ec6625;
    border: 0;
}

section.about {
    padding-top: 66px;
    background-color: #27b1b3;
}
section.about .container .row .back {
    background-color: #43b6b8;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
section.about .container .row .about-text {
    padding: 71px 125px 28px 85px;
}
section.about .container .row .about-text h1 {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 18px;
}
section.about .container .row .about-text p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 100px;
}
section.about .container .row .about-text a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
}
section.about .container .row .about-text a i {
    font-size: 13px;
}
section.about .container .row img {
    margin-right: -12px;
    margin-left: 12px;
    /*height: 100%;*/
    object-fit: cover;
}

section.products {
    padding: 200px 0;
    margin-top: -51px;
    background-size: cover;
}
section.products .title {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.76;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 51px;
}
section.products .item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.products .item .image {
    background-color: #fff;
    height: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #e86731;
    border-radius: 20px;
    margin-bottom: 10px;
}
section.products .item .image img {
    max-height: 100%;
}
section.products .item h2 {
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
section.products .item a {
    display: inline-block;
    padding: 10px 16px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #21949c;
}
section.products .productSwiper {
    position: initial;
}
section.products .productSwiper .swiper-slide {
    display: flex;
}
section.products .productSwiper .swiper-slide.swiper-slide-next .image {
    height: 430px;
}
section.products .productSwiper .swiper-pagination {
    bottom: -50px;
}
section.products .productSwiper .swiper-pagination-bullet {
    background: #d3d3d3;
    width: 16px;
    height: 16px;
    opacity: 1;
}
section.products .productSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ec6625;
}
section.products .productSwiper .swiper-button-next:after, section.products .productSwiper .swiper-button-prev:after {
    color: #fff;
    font-size: 35px;
}
section.products .productSwiper .swiper-button-next {
    right: -100px;
}
section.products .productSwiper .swiper-button-prev {
    left: -100px;
}

section.markalarimiz .title {
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: -48px;
}
section.markalarimiz .marka {
    background-color: #efefef;
    padding: 37px 0;
    background-image: url("image/markalarimiz.png");
    background-repeat: no-repeat;
}
section.markalarimiz .marka .white-area {
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 37px 30px;
}
section.markalarimiz .marka .white-area .item p.brand-contents {
    padding: 13.7px 25.5px 18.2px 25.9px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px #fff;
    background-color: #efefef;
    border-radius: 20px;
    margin-bottom: 0;
    margin-top: 17px;
}

section.catalog {
    padding: 120px 0 84px 0;
    background-color: #27b1b3;
}
section.catalog .white {
    position: relative;
}
section.catalog .white:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #f0f0f0;
    width: 19%;
    max-height: 99.9%;
}
section.catalog .back {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 425px;
    z-index: 1;
}
section.catalog .back h2 {
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
section.catalog .back:after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.17;
    z-index: 0;
    border-radius: 20px;
    background-image: linear-gradient(91deg, #fff -2%, rgba(123, 123, 123, 0.97) 159%);
}
section.catalog .back .front {
    position: relative;
    z-index: 1;
}
section.catalog .back .front .shape {
    position: relative;
}
section.catalog .back .front .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding-right: 90px;
}
section.catalog .back .front .right-side .margin {
    margin-top: -90px;
    font-size: 20px;
}
section.catalog .back .front .right-side .margin p {
    text-align: right;
}
section.catalog .back .front .right-side .margin .button-cover {
    text-align: right;
}
section.catalog .back .front .right-side .margin .button-cover a:nth-child(1) {
    display: inline-block;
    padding: 8px 22px;
    background-color: #ec6625;
    border-radius: 6px;
    color: #fff;
}
section.catalog .back .front .right-side .margin .button-cover a:nth-child(2) {
    display: inline-block;
    padding: 8px 22px;
    background-color: #d9d9d9;
    border-radius: 6px;
    color: #000;
    margin-left: 32px;
}

section.footer {
    background-color: #27b1b3;
}
section.footer .container.top {
    background-color: #efefef;
    padding: 0px 80px 30px 105px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
section.footer .container.top .logo {
    width: 298px;
    height: 93px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.footer .container.top .menu {
    margin-top: 36px;
}
section.footer .container.top .menu h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #ec6625;
}
section.footer .container.top .menu ul {
    margin: 0;
    padding: 0;
}
section.footer .container.top .menu ul li {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000;
}
section.footer .container.top .menu ul li .navigate {
    margin-top: -3px;
    margin-left: 12px;
}
section.footer .container.top .menu ul li a {
    color: #000;
}
section.footer .container.top .menu ul li a:hover {
    color: #27b1b3;
}
section.footer .container.top .menu ul li.active {
    color: #27b1b3;
}
section.footer .container.top .menu ul.social li:nth-child(1) {
    margin-bottom: 19px;
}
section.footer .container.top .menu ul.social li:nth-child(2) {
    margin-bottom: 19px;
}
section.footer .bottom {
    background-color: #efefef;
    padding: 0px 80px 30px 105px;
}
section.footer .bottom p {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
    color: #000;
}
section.footer .bottom p a {
    color: #000;
}

/*about*/
section.breadcrumb {
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
section.breadcrumb .container {
    margin-top: 185px;
    color: #fff;
}
section.breadcrumb .container .bread {
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #fff;
}
section.breadcrumb .container .bread i {
    font-size: 16px;
}
section.breadcrumb .container .crumb {
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    color: #fff;
    margin-top: 12px;
}

section.vision {
    background-color: #27b1b3;
    color: #fff;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
}
section.vision .col-md-8 {
    margin-bottom: 280px;
}
section.vision .text-cover {
    margin-top: 10px;
}
section.vision .text-cover h1 {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}
section.vision .text-cover h1.extra {
    margin-left: 15px;
    margin-top: 10px;
}
section.vision .text-cover p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 50px;
}

/*contact*/
section.contact {
    background-color: #27b1b3;
    padding: 40px 0 77px 0;
    color: #fff;
}
section.contact .contact-title {
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 32px;
    margin-left: 15px;
}
section.contact input {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d5d5d5;
    background-color: #fff;
    border-radius: 0;
    height: 52px;
}
section.contact input:focus {
    box-shadow: none;
}
section.contact textarea {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d5d5d5;
    background-color: #fff;
    border-radius: 0;
}
section.contact textarea:focus {
    box-shadow: none;
}
section.contact button {
    padding: 7px 34px 8px 35px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    color: #27b1b3;
}
section.contact .information {
    padding-top: 57px;
}
section.contact .information p {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #fff;
    padding-left: 15px;
}
section.contact .information h3 {
    margin-bottom: 12px;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #fff;
}
section.contact iframe {
    width: 100%;
}

/*blog*/
section.blog {
    background-color: #27b1b3;
    padding: 45px 0 170px 0;
}
section.blog .page-title .small-title {
    margin-bottom: 3px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    text-decoration: underline;
}
section.blog .page-title .title {
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}
section.blog .item {
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}
section.blog .item .date {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 11px 17px;
    background-color: #ec6625;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
section.blog .item .date .number {
    font-size: 41px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: -1.15px;
    color: #fff;
}
section.blog .item .date .name {
    font-size: 23px;
    font-weight: 100;
    letter-spacing: normal;
}
section.blog .item img {
    height: 173px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
section.blog .item .item-text {
    padding: 20px 20px 30px;
}
section.blog .item .item-text .comment i {
    color: #27b1b3;
}
section.blog .item .item-text .comment span {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #525252;
}
section.blog .item .item-text h3 {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #000;
    margin-top: 10px;
}
section.blog .item .item-text p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000;
}
section.blog .item .item-text a {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #008b97;
}
section.blog .item .item-text a i {
    font-size: 12px;
}

/*blog detail*/
section.blog-detail {
    background-color: #27b1b3;
    padding: 50px 0 100px;
}
section.blog-detail .item {
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}
section.blog-detail .item img {
    width: 100%;
}
section.blog-detail .item .text {
    padding: 40px 20px 20px;
    margin-top: -5px;
}
section.blog-detail .item .text h1 {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #000;
}
section.blog-detail .item .text p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000;
}
section.blog-detail .last-titles {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
section.blog-detail .last-titles .title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    position: relative;
}
section.blog-detail .last-titles .title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 122px;
    background-color: #000;
}
section.blog-detail .last-titles .post {
    display: flex;
    align-items: center;
}
section.blog-detail .last-titles .post img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
section.blog-detail .last-titles .post span {
    margin-left: 15px;
}
section.blog-detail .last-titles.category {
    padding-right: 40px;
}
section.blog-detail .last-titles.category span {
    float: right;
}

/*products*/
section.products-page {
    padding: 35px 0 130px 0;
    background-color: #27b1b3;
}
section.products-page .nav-tabs {
    border: none !important;
    display: flex;
    justify-content: space-between;
}
section.products-page .nav-tabs .nav-item {
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
section.products-page .nav-tabs .nav-item .nav-link {
    border-radius: 10px;
    border: solid 2px #e86731;
    background-color: #fff;
    padding: 19px 30px;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.products-page .nav-tabs .nav-item .nav-link.active {
    background-color: #e86731;
}

section.products-page .nav-tabs .nav-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column;
}
section.products-page .nav-tabs .nav-item .nav-link img {
    width: 65px;
    /*height: 90px;*/
    object-fit: cover;
}
section.products-page .tab-content .left-menu {
    padding: 21px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}
section.products-page .tab-content .left-menu h3 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #008b97;
}
section.products-page .tab-content .left-menu h3 span {
    font-weight: 500;
}
section.products-page .tab-content .left-menu .nav-link {
    background-color: #fff;
    color: #000;
}
section.products-page .tab-content .left-menu .nav-link.active {
    text-decoration: underline;
}
section.products-page .tab-content .left-menu .nav-link .sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.products-page .tab-content .left-menu .nav-link .sub-menu i {
    color: #ec6625;
}
section.products-page .tab-content .tab-content .d-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.products-page .tab-content .tab-content .d-flex .item {
    width: 290px;
    height: 266px;
    padding: 21px 32.6px 52px 34px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #e86731;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.products-page .tab-content .tab-content .d-flex .item img{
    max-height: 100%;
}
section.products-page .tab-content .tab-content .d-flex p {
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 9px;
}
section.products-page .tab-content .tab-content .d-flex a {
    display: inline-block;
    padding: 8px 10px 7px 11px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #21949c;
}
section.products-page .tab-content .tab-content .d-flex a:hover {
    color: #fff;
    background-color: #ec6625;
}

/*products-detail*/
section.products-page-detail {
    padding: 60px 0;
    background-color: #27b1b3;
}
section.products-page-detail .features {
    margin-right: 55px;
    padding: 25px 23px 30px 23px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5f5f5;
}
section.products-page-detail .features .feature-title {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #000;
}
section.products-page-detail .features .features-item {
    display: flex;
    align-items: center;
}
section.products-page-detail .features .features-item img {
    width: 39px;
}
section.products-page-detail .features .features-item .features-text {
    margin-left: 15px;
}
section.products-page-detail .features .features-item .features-text .text-one {
    margin-bottom: -7px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #ec6625;
}
section.products-page-detail .features .features-item .features-text .text-two {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000;
}
section.products-page-detail .features a {
    padding: 8px 20px 7px;
    border-radius: 6px;
    background-color: #27b1b3;
    width: auto;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #fff;
}
section.products-page-detail .productDetailSwiper {
    position: initial;
}
section.products-page-detail .productDetailSwiper .swiper-slide .item {
    margin: 0 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #e86731;
    background-color: #fff;
}
section.products-page-detail .productDetailSwiper .swiper-button-next:after, section.products-page-detail .productDetailSwiper .swiper-button-prev:after {
    font-size: 30px;
    color: #fff;
}
section.products-page-detail .productDetailSwiper .swiper-horizontal > .swiper-pagination-bullets, section.products-page-detail .productDetailSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -30px;
}
section.products-page-detail .productDetailSwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, section.products-page-detail .productDetailSwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    opacity: 1;
    background-color: transparent;
    border: 2px solid #fff;
}
section.products-page-detail .productDetailSwiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, section.products-page-detail .productDetailSwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: none;
    background-color: #ec6625;
}

section.similar-products {
    background-color: #27b1b3;
    padding-bottom: 120px;
}
section.similar-products h3 {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-left: 55px;
    margin-bottom: 17px;
}
section.similar-products .productSimilar {
    margin: 0 55px;
}
section.similar-products .productSimilar .productSimilarSwiper {
    position: initial;
}
section.similar-products .productSimilar .productSimilarSwiper .swiper-button-prev:after, section.similar-products .productSimilar .productSimilarSwiper .swiper-button-next:after {
    font-size: 30px;
    color: #fff;
}
section.similar-products .productSimilar .productSimilarSwiper .swiper-button-prev {
    top: 115px;
    left: -25px;
}
section.similar-products .productSimilar .productSimilarSwiper .swiper-button-next {
    top: 115px;
    right: -25px;
}
section.similar-products .productSimilar .productSimilarSwiper .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
section.similar-products .productSimilar .productSimilarSwiper .item .item-img {
    width: 100%;
    height: 219px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #e86731;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.similar-products .productSimilar .productSimilarSwiper .item .item-img img {
    max-height: 100%;
}
section.similar-products .productSimilar .productSimilarSwiper .item p {
    margin: 10px 0;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
section.similar-products .productSimilar .productSimilarSwiper .item a {
    padding: 8px 10px 7px 11px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #21949c;
}

.e-catalog {
    position: fixed;
    top: 50%;
    right: -112px;
    transform: rotate(270deg);
    z-index: 99;
}
.e-catalog div {
    padding: 8px 26px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.e-catalog div a {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #27b1b3;
}

@keyframes linksFade {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width: 1399px) {
    section.catalog .back .front .right-side .margin {
        font-size: 16px;
    }
    section.products .item .image {
        height: 270px;
    }

    section.products .productSwiper .swiper-slide.swiper-slide-next .image {
        height: 320px;
    }

    section.products .productSwiper .swiper-button-next {
        right: -50px;
    }
    section.products .productSwiper .swiper-button-prev {
        left: -50px;
    }
}
@media screen and (max-width: 992px) {
    nav .container .menu-top {
        margin: 0 0 15px 0;
    }
    nav .container .menu-top ul {
        padding: 0;
        justify-content: center;
    }
    nav .container .menu-top ul li:nth-child(1) a {
        margin-left: 0;
    }
    nav .container .menu-bottom .menu-button {
        display: block;
    }
    nav .container .menu-bottom .menu-bar {
        display: none;
    }

    nav .side-bar.active {
        transform: translateX(0);
        opacity: 1;
    }

    section.products-page-detail .features {
        margin-left: 55px;
    }
}
@media screen and (max-width: 768px) {
    section.catalog .white:after{
        max-height: 84.1%;
    }
    section.about .container-fluid .row .about-text {
        padding: 71px 30px 28px 30px;
    }

    section.products .productSwiper .swiper-slide {
        justify-content: center;
    }

    section.vision {
        background-image: none !important;
    }
    section.vision .col-md-8 {
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 576px) {
    section.products-page .nav-tabs .nav-item {
        font-size: 18px;
        width: 50%;
    }
    section.catalog .back .front .right-side{
        padding-right: 0;
    }
    section.catalog .white:after{
        height: 253px;
    }
    section.similar-products .productSimilarSwiper .swiper-button-prev {
        left: 10px;
    }
    section.similar-products .productSimilarSwiper .swiper-button-next {
        right: 10px;
    }

    section.products-page-detail .features {
        margin: 0;
    }

    section.products .productSwiper .swiper-button-next {
        right: 15px;
    }
    section.products .productSwiper .swiper-button-prev {
        left: 15px;
    }

    section.markalarimiz .marka .white-area {
        margin: 0 auto;
        border-radius: 20px;
    }

    section.catalog .back .front .right-side {
        margin-top: 120px;
    }

    section.similar-products .productSimilar .productSimilarSwiper .swiper-button-next {
        right: 20px;
    }
    section.similar-products .productSimilar .productSimilarSwiper .swiper-button-prev {
        left: 20px;
    }
}

/*# sourceMappingURL=style.css.map */
